build:
  type: External_Build
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: None
  content: ''
test:
  - name: '1111'
    configType: artillery
    configPath: ''
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Priyanshi Somani
lastUpdatedOn: 2023-04-19T11:09:13.748Z
